<div class="portlet-title">
  <div class="caption font-green">
    <i class="icon-pin font-green"></i>
    <span class="caption-subject bold uppercase"><%= controller_name.singularize.titleize %></span>
  </div>
</div>