.fa.fa-picture-o{
	 padding-top: 0;
}
.gjs-block.fa{
	 font-size: 3em;
	 line-height: 1.4em;
}
.gjs-block-label{
	 margin-top: -5px;
}
.gjs-off-prv.fa-eye-slash{
	 padding: 12px;
	 float: right;
}
.gjs-field select{
	 height: 24px !important;
}
.gjs-pn-panel{
	 padding: 3px 5px;
}
#wte-sm-label-parent-flex {
	 width: 100%;
}
#wte-sm-label-parent-flex .wte-sm-field{display: none;}
#wte-sm-label-parent-flex {
	 border-bottom: 1px solid #383838;
	 font-size: 12px;
	 padding: 15px 3px 5px;
	 width: 100%;
}
#wte-sm-flex-grow, #wte-sm-flex-shrink{ width:30%;}
#wte-sm-flex-basis{ width:40%;}

#toast-container {
	 font-size: 13px;
	 font-weight: lighter;
}

#toast-container > div,
#toast-container > div:hover {
	 box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	 font-family: Helvetica, sans-serif;
}

#toast-container > div {
	 opacity: 0.95;
}

#gjs-pn-commands {
	 display: none;
}

#gjs-pn-devices-c {
	 width: 85%;
	 z-index: 1;
}

#gjs-sm-float {
	 display: none;
}

[data-tooltip]::after {
	 background: rgba(51, 51, 51, 0.9);
}
.gjs-f-3ba,.gjs-f-h1p,.gjs-f-hero,.fa-link,.fa-map-o,.fa-quote-right{
	 display: none !important;
}
.gjs-trt-trait .gjs-label{
	 width: 50%;
	 line-height: 25px;
}
.fa-address-card-o.gjs-block{
	 padding-top: 10px;
}
.gjs-block-label{
	 font-size: 12px;
}