<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
      <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler">
          <span></span>
        </div>
      </li>
      <li class="sidebar-search-wrapper">
        <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
          <a href="javascript:;" class="remove">
            <i class="icon-close"></i>
          </a>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <a href="javascript:;" class="btn submit">
                <i class="icon-magnifier"></i>
              </a>
            </span>
          </div>
        </form>
      </li>
      <li class="nav-item start <%= sidebar_active('dashboards') %> open">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-tachometer"></i>
          <span class="title">Dashboard</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start open">
            <a href="index.html" class="nav-link ">
              <i class="icon-bar-chart"></i>
              <span class="title">Ad Info</span>
              <span class="selected"></span>
            </a>
          </li>
        </ul>
      </li>
      <li class="heading">
        <h3 class="uppercase">Features</h3>
      </li>
      <li class="nav-item <%= sidebar_active('signages') %>">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-adn"></i>
          <span class="title">Ad</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item">
            <a href="<%= admin_signages_path %>" class="nav-link">
              <span class="title">Ad management</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
